* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(270deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
    color: #fff;
    padding: 2rem;
}

.container {
    border: 1px solid #000;
    border-radius: 10px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background: transparent;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.8);
}

.container h1 {
    font-size: 2rem;
}

.inputBox {
    position: relative;
}

.inputBox span {
    display: none;
    position: absolute;
    top: 8px;
    right: 5px;
    cursor: pointer;
    color: #000;
}

.inputBox .copy-icon-display {
    display: block;
}



input[type="checkbox"] {
    width: 20px;
}


#passwordBox {
    background-color: #fff;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    font-size: 1rem;
}

.passwordLength {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    gap: 20px;
}

.button {
    padding: 10px;
    border: none;
    font-size: 1.1rem;
    border-radius: 5px;
    width: 60%;
    margin: 0 auto;
    cursor: pointer;
    background-color: rgba(5, 130, 202, 0.8);
    color: #fff;
    transition: all 0.3s;
}

.button:hover {
    transform: translateY(-5px);
    background-color: rgba(5, 130, 202, 1);
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.8);
}

/* Responsive */

@media screen and (max-width: 380px) {

    .container h1 {
        font-size: 1.3rem;
        text-align: center;
    }

    .passwordLength {
        font-size: 0.7rem;
    }

    .button {
        font-size: 0.9rem;
        margin: 5px auto;
    }
}